/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"); */

/* ADMIN STATS */
.stats_divs_row {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  flex-flow: row wrap;

  /* height: 100%; */
  height: 320px;
}
.stats_divs {
  width: 400px;
  height: 280px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(40, 84, 169, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 20px 50px 20px 0;
}
.stats_heading_row {
  border-bottom: 1px solid #eee;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 0 0 0 5px;
}

.stats_heading_row h3 {
  /* font-weight: 900 !important; */
}

.stats_info_row {
  width: 100%;
  height: 240px;
}
.stats_info_col {
  width: 65%;
  height: 100%;
}
.stats_info_col canvas {
  width: 100% !important;
  height: 100% !important;
}
.stats_chart_div {
  height: 100%;
}

/* */
.bigger_div {
  width: 82.5%;
  height: 340px;
}
.bigger_div .stats_info_row {
  height: 300px;
}
.bigger_div .stats_info_col {
  width: 90%;
  padding: 0 1.5%;
}

/* VERIFICATION */
.trans_row .verify_col:last-of-type {
  width: 20%;
}
.verify_col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.verify_col p {
  padding: 5px 0;
}
.verify_col .request_btn {
  padding: 5px 15px;
}
