@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}
svg {
  cursor: pointer;
}
.module_app_base {
  width: 100vw;
  /* height: 100%; */
  height: 1000px;

  display: flex;
}
.module_app_body {
  margin-top: 60px;
}
.module_app_body,
.section_body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* ERROR PAGE */
.error_page_section {
  background-color: #400101;
  width: 100%;
  height: 100%;
  /* color: ; */
}
